
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - secrets.masonwr.dev
  resources:
  - cloudsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - secrets.masonwr.dev
  resources:
  - cloudsecrets/status
  verbs:
  - get
  - patch
  - update
